.maindiv{
	display: flex;
	justify-content: center;
	margin-top: 20%;

}
body{
	background-color: skyblue;
}
button{
	cursor: pointer;
	padding: 1rem 1.5rem;
	background-color:black;
	color: white;
	
	
}
button:hover{
	font-size: 0.9rem;
}